<div>
  <h1> Directly on View Component </h1>
  <%= "method(:helpers) - > #{method(:helpers)}" %> <br> <br>
  <%= "Galaxy::MilkyWay::Engine.routes.url_helpers.planet_path(:earth) - - > #{Galaxy::MilkyWay::Engine.routes.url_helpers.planet_path(:earth)}" %> <br>
  <%= "helpers.planet_path(:earth) - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > #{helpers.planet_path(:earth)}" %> <br>
  <%= "helpers.milky_way.planet_path(:earth) - - - - - - - - - - - - - - - - - - - - - - -> #{helpers.milky_way.planet_path(:earth)}" %> <br>
  <%= "helpers.milky_way.routes.url_helpers.planet_path(:earth) - - - - - - - - > #{helpers.milky_way.routes.url_helpers.planet_path(:earth)}" %>

  <h1> From controller </h1>
  <%= "method(:helpers) - > #{@method_helpers}" %> <br> <br>
  <%= "Galaxy::MilkyWay::Engine.routes.url_helpers.planet_path(:earth) - - > #{@namespace_routes_url_helpers}" %> <br>
  <%= "helpers.planet_path(:earth) - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > #{@helpers_simple}" %> <br>
  <%= "helpers.milky_way.planet_path(:earth) - - - - - - - - - - - - - - - - - - - - - - -> #{@helpers_engine_name}" %> <br>
  <%= "helpers.milky_way.routes.url_helpers.planet_path(:earth) - - - - - - - - > #{@helpers_engine_name_routes_url_helpers}" %>
</div>
